@use './variables' as *;

@mixin flex($alignItem: center, $justifyContent: center, $flexDirection:row) {
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
}


@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}
